<div id="wrap">
    <div data-ng-include src="'views/shared/_nav.html'"></div>
    <div data-ng-include src="'views/shared/_navposts.html'"></div>
    <div class="container admin-views-main admin-views-content-categories" data-ng-controller="FriendLinkController">
        <form id="form" action="" style="margin:0;">
            <div id="modal-add-cat" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="focusInput=false"><i class="fa fa-times"></i></button>
                            <h4 class="modal-title">lbl.addNewCategory</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal clearfix">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="txtSlug">lbl.title</label>
                                    <div class="col col-md-8">
                                        <input type="text" class="form-control" id="txtSlug" name="txtSlug" data-ng-model="category.Title" focus-me="focusInput" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="txtExcerpt">lbl.description</label>
                                    <div class="col col-md-8">
                                        <textarea class="form-control" id="txtExcerpt" name="txtExcerpt" data-ng-model="category.Description"> </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="selAuthors">lbl.parent</label>
                                    <div class="col col-md-8">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="save()" class="btn btn-success pull-right btn-tabkey"><i class="fa fa-save"></i>lbl.save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="focusInput=false"><i class="fa fa-ban"></i>lbl.cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>